
Body {
    font-family: Arial;
    background-color: lightslategray;
    color:rgb(8, 120, 8);
    text-align: left;
}
h1 {
    color: #66041e;   
    font-size: 20px;
    text-align: center;
}
h2 {
    color: purple;
    font-size: 20px;
}
h3 {
    color: purple;
    font-size: 20px;
}
h4 {
    color: purple;
    font-size: 20px;
}
h5 {
    color: purple;
    font-size: 20px;
}
h6 {
    color: purple;
    font-size: 20px;
}
class p {
    color: darkgreen;
}
p {margin: 10px;
    padding: 15px;
}
a {
    text-decoration: none;
    color: rgb(56, 1, 56);
}
